{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'todo_detail.css' %}">
{% endblock %}

{% block body %}

<div class="detail">
    <h1>{{ todo.content }}</h1>

    {% if todo.done %}
        <h2 style="color:blue">DONE</h2>
    {% else %}
        <h2 style="color:red">NOT DONE</h2>
    {% endif %}

</div>

{% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'update' todo.id %}">編集</a>
    <a class="btn btn-danger" href="{% url 'delete' todo.id %}">削除</a>
{% endif %}
<a class="btn btn-dark" href="{% url 'list' %}">戻る</a>

{% endblock %}