{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'todo_list.css' %}">
{% endblock %}



{% block body %}

{% if todo_list %}
    {% for todo in todo_list %}
    <div class="content">
        <h1>
            <a href="{% url 'detail' todo.id %}">{{ todo.content }}</a> :
            {% if todo.done %}
            <div class="done">DONE</div>
            {% else %}
            <div class="not-done">NOT DONE</div>
            {% endif %}
        </h1>

        <p>{{ todo.created_at }}</p>
    </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="button">
    <a class="btn btn-primary" href="{% url 'create' %}">NEW</a>
</div>
{% endif %}


<nav class="pagination" aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

    {% for page in paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
  </ul>
</nav>

{% endblock %}